 Variables & Data Types: Create variables of type int, float, string, and list. Print their values and types.

In [3]:
My_name = "Ayesha Athar"

My_age = 22

My_CGPA = 3.88

My_Sub_List = ["Cpp", "Applied Physics", "Cryptography" , "Information Security"]

print(My_name)
print(My_age)
print(My_CGPA)
print(My_Sub_List)

print(type(My_name))
print(type(My_age))
print(type(My_CGPA))
print(type(My_Sub_List))

Ayesha Athar
22
3.88
['Cpp', 'Applied Physics', 'Cryptography', 'Information Security']
<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

 Conditionals: Write a program that checks whether a given number is positive, negative, or zero.

In [6]:
number = input("enter a number: ")
number = int(number)
if number > 0:
  print("positive")
elif number < 0:
  print("negative")
else:
  print("zero")

enter a number: -8
negative

Loops: Write a program to print the first 10 natural numbers using a loop. Write a program to calculate the factorial of a number using a loop.

In [36]:
for digits in range(11):
  print(digits)


def factorial(numbers):
  if numbers<0:
    print("Factorial of this number do not exists")
  elif numbers == 0:
    return 1
  else:
    result =1
    for factorial in range(1,numbers+1):
      result = result*factorial
    return result
number =5
print("Factorial of", number, "is", factorial(number))

0
1
2
3
4
5
6
7
8
9
10
Factorial of 5 is 120

Functions: Write a function greet(name) that prints "Hello, <name>!". Write a function is_even(num) that returns True if a number is even, False otherwise

In [22]:
def greet(name):
  print("Hello " + name)
greet("Ayesha")

def is_even(num):
  if num % 2 == 0:
    return True
  else:
    return False
is_even(8)

Hello Ayesha

True

 List Operations: Create a list of 5 numbers. Find the max, min, sum, and average using built-in functions. Sort the list and reverse it.

In [17]:
list = [8,9,11,10,7]
max_number=max(list)
print(max_number)
min_number=min(list)
print(min_number)
sum_number=sum(list)
print(sum_number)
average = sum_number/len(list)
print(average)
list.reverse()
print(list)
list.sort()
print(list)

11
7
45
9.0
[7, 10, 11, 9, 8]
[7, 8, 9, 10, 11]

Input/Output: Write a program that takes a userâ€™s name and age as input and prints:
"Hello <name>, you are <age> years old."

In [4]:
name = input("Enter your name:")
age = input("Enter your age:")
print("Hello", name, "you are", age, "years old.")

Enter your name:Ayesha
Enter your age:22
Hello Ayesha you are 22 years old.